/* BEGIN CODE HERE */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    background: #f1f1f1;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 30px;
    background: #ddd;
  }
  
  .logo {
    flex-shrink: 0; /* Prevent logo from shrinking */
  }
  
  .logo img {
    height: 58px;
    width: 250px;
  }
  
  .header-links {
    display: flex;
    gap: 10px; /* Adjust the gap between the links */
  }
  
  .header-links a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2164f3;
  }
  
  .header-links a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .header-links a.active {
    background-color: #2164f3;
    color: white;
    border-radius: 10%;
  }
  
  .header h1 {
    font-size: 50px;
  }  

  .frame1,
  .frame2,
  .frame3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  

.frame1 {
    background-color: red;
    height: 400px;
    width: 1200px;
}

.SplitInTwoRight {
    width: 50%; 
    float:right
}
.SplitInTwoLeft {
    width: 50%; 
    float:left
}

img[src="image-1.jpg"] {
    width: 600px;
    height: 400px;
    object-fit: cover; /* or contain, depending on your needs */
}

img[src="image-2.jpg"] {
    width: 300px;
    height: 200px;
    object-fit: cover; /* or contain, depending on your needs */
}

img[src="image-3.jpg"] {
    width: 300px;
    height: 200px;
    object-fit: cover; /* or contain, depending on your needs */
}

.frame2 {
    background-color: papayawhip;
    height: 400px;
    width: 1200px;

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 400px;
    padding: 0 !important;
  }
  
  .box1, .box2 {
    display: flex;
    align-items: center;
  }
  
  .box1 p {
    margin-right: 0;
    margin-left: auto;
    margin-top: auto;
  }
  
  .box2 p {
    margin-right: auto;
    margin-left: 0;
  }

.frame3 {
    height: 600px;
    width: 1200px;
}

.footer {
    padding: 20px;
    height: 100px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
/* END CODE HERE */